# Exclude all opencart files. They must be downloaded from opencart download page.
# Config and Htaccess Files
/.htaccess
/config.php
/admin/config.php

# opencart index and php.ini
/admin/index.php
/admin/php.ini
/index.php
/php.ini
/.htaccess.txt

# Admin
# controllers
/admin/controller/*
!/admin/controller/bitmap
!/admin/controller/clipart
!/admin/controller/content_pack
!/admin/controller/design_color
!/admin/controller/font
!/admin/controller/opentshirts
!/admin/controller/printing_method
!/admin/controller/product

!/admin/controller/extension/printing_method.php

!/admin/controller/module/delivery_date.php
!/admin/controller/module/opentshirts.php

# language
/admin/language/english/*
!/admin/language/english/bitmap
!/admin/language/english/clipart
!/admin/language/english/content_pack
!/admin/language/english/design_color
!/admin/language/english/font
!/admin/language/english/opentshirts
!/admin/language/english/printing_method
!/admin/language/english/product

!/admin/language/english/extension/printing_method.php

!/admin/language/english/module/delivery_date.php
!/admin/language/english/module/opentshirts.php

# model
/admin/model/*
!/admin/model/bitmap
!/admin/model/clipart
!/admin/model/design_color
!/admin/model/font
!/admin/model/install
!/admin/model/opentshirts
!/admin/model/printing_method
!/admin/model/product

# view
/admin/view/image
/admin/view/stylesheet

/admin/view/javascript/*
!/admin/view/javascript/jscolor
!/admin/view/javascript/uploadify

/admin/view/template/*
!/admin/view/template/bitmap
!/admin/view/template/clipart
!/admin/view/template/content_pack
!/admin/view/template/design_color
!/admin/view/template/font
!/admin/view/template/opentshirts
!/admin/view/template/printing_method
!/admin/view/template/product

!/admin/view/template/extension/printing_method.tpl

!/admin/view/template/module/delivery_date.tpl
!/admin/view/template/module/opentshirts.tpl

# Catalog
# controllers
/catalog/controller/*
!/catalog/controller/opentshirts
!/catalog/controller/printing_method
!/catalog/controller/studio
!/catalog/controller/xml

!/catalog/controller/module/delivery_date.php

# language
/catalog/language/english/*
!/catalog/language/english/opentshirts
!/catalog/language/english/printing_method
!/catalog/language/english/studio
!/catalog/language/english/xml

!/catalog/language/english/module/delivery_date.php

# model
/catalog/model/*
!/catalog/model/opentshirts
!/catalog/model/printing_method

# view
/catalog/view/javascript/*
!/catalog/view/javascript/swfobject
!/catalog/view/javascript/uploadify

/catalog/view/theme/default/image/*
!/catalog/view/theme/default/image/1.png
!/catalog/view/theme/default/image/2.png
!/catalog/view/theme/default/image/3.png

/catalog/view/theme/default/stylesheet/*
!/catalog/view/theme/default/stylesheet/dark-hive
!/catalog/view/theme/default/stylesheet/redmond
!/catalog/view/theme/default/stylesheet/style.css

/catalog/view/theme/default/template/*
!/catalog/view/theme/default/template/opentshirts
!/catalog/view/theme/default/template/printing_method
!/catalog/view/theme/default/template/studio
!/catalog/view/theme/default/template/xml

!/catalog/view/theme/default/template/module/delivery_date.tpl

/image/no_image.jpg
/image/templates
/image/cache
/image/flags

/image/data/*
!/image/data/logo_studio.png
!/image/data/bitmaps
!/image/data/cliparts
!/image/data/delivery_date
!/image/data/designs
!/image/data/fonts
!/image/data/printing_methods
!/image/data/products

/image/data/bitmaps/*
/image/data/cliparts/*
/image/data/designs/*
/image/data/fonts/*
/image/data/products/*
!/image/data/products/default_fill.png
!/image/data/products/default_shade.png

/install
/download

/system/*
!/system/library
/system/library/*
!/system/library/dtg_cart.php
!/system/library/screenprinting_cart.php
!/system/library/transfers_cart.php
!/system/library/ttf2png.php
!/system/library/zip.php

/vqmod/*
!/vqmod/xml
/vqmod/xml/*
!/vqmod/xml/vqmod_opentshirts.xml
!/vqmod/xml/vqmod_opentshirts_default_theme.xml
!/vqmod/xml/vqmod_opentshirts_export_import.xml